/*
From http://bl.ocks.org/chucklam/f3c7b3e3709a0afd5d57
Or as a Gist https://gist.github.com/chucklam/f3c7b3e3709a0afd5d57

Colors based on Bootstrap: http://getbootstrap.com/css/#less-variables-colors
*/

.bar.total rect {
  fill: #337ab7;
}

.bar.positive rect {
  fill: #5cb85c;
}
.bar.negative rect {
  fill: #d9534f;
}

.bar line.connector {
  stroke: grey;
  stroke-dasharray: 3;
}

.bar text {
  fill: black;
  font: 12px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}